<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{pet_name}}</h5>
    <p class="card-text">{{pet_type}}<br>
                            Breed:{{pet_breed}}<br>
                            Age:{{pet_age}}<br>
                            Gender:{{pet_gender}}<br>
                            Size{{pet_size}}</p>
                            {{!-- all variables assigned are temporary. just filling something out --}}
    <a href="#" class="btn btn-primary">{{target_pet}}</a> 
  </div>
</div>