<div class="container">
  <img class="mb-3 w-64 h-64 full shadow-lg" src="{{image}}" alt="{{name}}" />
  <h5 class="mb-1 text-xl font-medium text-gray-900">{{name}}</h5>
  <p class="text-sm text-gray-500">{{breed}}</p>
  <p class="text-sm text-gray-500">{{size}}</p>
  <p class="text-sm text-gray-500">{{gender}}</p>
  <p class="text-sm text-gray-500">{{age}}</p>
</div>