 <div class="container">
    <img class="card-img-top" src="..." alt="Resident" />
    <div class="card-body">
      <h5 class="card-title">{{pet_name}}</h5>
      <p class="card-text">{{species}}<br />
        Breed:{{cat_breed}}<br />
        Age:{{pet_age}}<br />
        Gender:{{pet_gender}}<br />
        Size{{pet_size}}</p>
    </div>
  </div>