<section class="container-xl text-center">
  <div class="">
    <h1 id="siteTitleBannerText">MeowWoof</h1>
    <p class="siteBannerText">
      Completing Families Since 2022
    </p>
  </div>
</section>


<section class="img-fluid">
  <img
    src="/images/homepage_banner_.jpg"
    alt="Group of adorable dogs and cats"
    id="homeBanner"
  />
</section>

<section class="container-xl text-center bg-light siteBannerTextAlternate">
  <div>
    <h2 class="pt-4" id="siteSubheaderBannerText">
      🦴 Our Mission 🦴
    </h2>
    <p class="py-4">
      “MeowWoof provides care, comfort and compassion to animals in need while engaging the hearts, hands and minds of our community to bring about an end to abandoned and orphaned shelter animals. All lives are precious and we will continue to do our part to fortify that belief.”
    </p>
  </div>
</section>

<section class="container-xl text-center">
  <div class="">
    <h2 class="siteBannerText pageBrakes py-5">
      Resident Spotlight: {{randomAnimal.name}}!
    </h2>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="w-full bg-white rounded-lg border border-gray-200 shadow-md">
    <div class="flex flex-col items-center pb-10 pt-10">
          <img class="mb-3 max-w-96 max-h-96 shadow-lg" id="petSpotlight" src="{{randomAnimal.image}}" alt="{{randomAnimal.name}}">
          <h5 class="mb-1 text-xl font-medium text-gray-900">{{randomAnimal.name}}</h5>
          <p class="text-lg text-gray-500">Breed: {{randomAnimal.breed}}</p>
          <p class="text-lg text-gray-500">Gender: {{randomAnimal.gender}}</p>
          <p class="text-lg text-gray-500">Age: {{randomAnimal.age}} year(s)</p>
          <p class="text-lg text-gray-500">Size: {{randomAnimal.size}}</p>
          <div class="flex mt-4 space-x-3 md:mt-6">
              {{#if logged_in}}
              <a href="/email" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-pink-700 rounded-lg hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300">Adopt me! &#9829; Message a volunteer</a>
              {{else}}
              <a href="/login" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-pink-700 rounded-lg hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300">Interested? Log in to adopt</a>
              {{/if}}
          </div>
  </div>
</section>

<section class="container-xl text-center">
  <div class="">
    <h2 class="siteBannerText pageBrakes py-5">
      Meet Some of Our Local Residents!
    </h2>
  </div>
</section>

<section>
  <div class="flex flex-wrap justify-around gap-6 m-6">
    <div>
      {{>homepageAnimalCard residentOne loggedIn=logged_in}}
    </div>
    
    <div>
      {{>homepageAnimalCard residentTwo loggedIn=logged_in}}
    </div>

    <div>
      {{>homepageAnimalCard residentThree loggedIn=logged_in}}
    </div>
  </div>
</section>

<section class="container-xl text-center">
  <div class="">
    <h2 class="siteBannerText pageBrakes py-4">
      <br />
      Are you looking to contribute? Sign-up and join our wonderful group of
      volunteers!
      <br />
    </h2>
  </div>
</section>

<section class="img-fluid">
  <img
    src="/images/volunteer_banner.jpg"
    class=""
    alt=""
    id="volunteerBanner"
  />
</section>

<footer class="text-center p-3">
  © 2022 MeowWoof. All Rights Reserved.
</footer>