<div >
    <div>
      {{randomAnimal.species}}
      {{randomAnimal.name}}
      {{randomAnimal.gender}}
      {{randomAnimal.breed}}
      {{randomAnimal.age}}
      {{randomAnimal.size}}
    </div>
</div>
