
<main class="flex flex-row">
    <aside class="w-80 p-2" aria-label="Sidebar">
        <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded">
            <div class="text-xl font-medium mb-2 ">Filter for a pet here:</div>
            <article>
                <h3 class="mt-4 font-semibold text-gray-900">Species</h3>
                <ul class="w-68 text-sm font-medium text-gray-900 bg-white">
                    {{#each uniquespecies as |species|}}
                    <li class="w-full content-evenly">
                        <div class="flex items-center pl-3">
                            <input onclick="filterClick(this.value, this.checked, this.name)" id='species' name="species={{species}}" type="checkbox" class="form-check-input text-pink-600 bg-gray-100 rounded border-gray-300 focus:ring-pink-500">
                            <label for="form-check" class="mt-2 ml-2 w-full text-sm font-medium text-gray-900">{{species}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </article>

            <article>
                <h3 class="mt-4 font-semibold text-gray-900">Breed</h3>
                <ul class="w-68 text-sm font-medium text-gray-900 bg-white">
                    {{#each uniquebreeds as |breed|}}
                    <li class="w-full">
                        <div class="flex items-center pl-3">
                            <input onclick="filterClick(this.value, this.checked, this.name)" id='breed' name="breed={{breed}}" type="checkbox" value="{{breed}}" class="form-check-input text-pink-600 bg-gray-100 rounded border-gray-300 focus:ring-pink-500">
                            <label for="form-check" class="mt-2 ml-2 w-full text-sm font-medium text-gray-900">{{breed}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </article>

            <article>
                <h3 class="mt-4 font-semibold text-gray-900">Gender</h3>
                <ul class="w-68 text-sm font-medium text-gray-900 bg-white">
                    {{#each uniquegenders as |gender|}}
                    <li class="w-full">
                        <div class="flex items-center pl-3">
                            <input onclick="filterClick(this.value, this.checked, this.name)"  id='gender' name="gender={{gender}}" type="checkbox" value="{{gender}}" class="form-check-input text-pink-600 bg-gray-100 rounded border-gray-300 focus:ring-pink-500">
                            <label for="form-check" class="mt-2 ml-2 w-full text-sm font-medium text-gray-900">{{gender}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </article>

            <article>
                <h3 class="mt-4 font-semibold text-gray-900">Age</h3>
                <ul class="w-68 text-sm font-medium text-gray-900 bg-white">
                    {{#each uniqueages as |age|}}
                    <li class="w-full">
                        <div class="flex items-center pl-3">
                            <input onclick="filterClick(this.value, this.checked, this.name)"  id='age' name="age={{age}}" type="checkbox" value="{{age}}" class="form-check-input text-pink-600 bg-gray-100 rounded border-gray-300 focus:ring-pink-500">
                            <label for="form-check" class="mt-2 ml-2 w-full text-sm font-medium text-gray-900">{{age}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </article>

            <article>
                <h3 class="mt-4 font-semibold text-gray-900">Size</h3>
                <ul class="w-68 text-sm font-medium text-gray-900 bg-white">
                    {{#each uniquesizes as |size|}}
                    <li class="w-full">
                        <div class="flex items-center pl-3">
                            <input onclick="filterClick(this.value, this.checked, this.name)"  id='size' name="size={{size}}"type="checkbox" value="{{size}}" class="form-check-input text-pink-600 bg-gray-100 rounded border-gray-300 focus:ring-pink-500">
                            <label for="form-check" class="mt-2 ml-2 w-full text-sm font-medium text-gray-900">{{size}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </article>

            <div class="input-group content-center">
                <button onclick="result()" type="click" id="applyfilter" class="text-white bg-pink-800 hover:bg-pink-700 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-4 ml-6">Apply</button>
            </div>
        </aside>

    <div class="flex flex-col text-center w-full">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mt-10 mb-4 text-gray-900">Adoptable Pets</h1>
        <div class="flex flex-wrap gap-6 m-6">
            {{#each animalData as |animal|}}
            {{>animalcard animal=animal loggedIn=logged_in}}
            {{/each}}
        </div>
    </div>

    </aside>
</main>

<script src="../js/filter.js"></script>

